@import "svg/css/svg/sprite.css";
html,
body,
.main_container {
  height: 100%;
}
body {
  background-color: #b5edf4;
}
.main_container {
  display: flex;
}
.slider_container {
  position: relative;
  display: block;
  margin: auto;
  height: 450px;
}
.wrap_slider {
  display: flex;
}
.slider {
  position: relative;
  overflow: hidden;
  width: 580px;
  height: 390px;
  margin: auto;
  border: 1px solid #016883;
}
.slider .images {
  width: auto;
  height: 390px;
  display: flex;
  flex-wrap: nowrap;
}
.slider .images img {
  flex: 0 0 590px;
}
.arrow {
  margin: auto 0;
  height: 60px;
  width: 60px;
  z-index: 100;
}
.arrow.left {
  float: left;
  margin-right: -60px;
  transform: rotate(180deg);
}
.arrow.right {
  float: right;
  margin-left: -60px;
}
.paging ul {
  list-style: outside none none;
  height: 40px;
  margin: 0;
  padding: 0;
  /* margin: 0 auto; */
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.paging ul li {
  margin: 0px 1px;
  list-style: outside none none;
  height: 40px;
  flex: 0 0 40px;
}
