.svg-Arrow {
	background: url("svg/sprite.css-0429fb15.svg") 0 0 no-repeat;

}

.svg-Arrow-dims {
	width: 50px;
	height: 50px;
}

.svg-Circle {
	background: url("svg/sprite.css-0429fb14.svg") 100% 0 no-repeat;

}

.svg-Circle-dims {
	width: 50px;
	height: 50px;
}

.svg-Circle.active {
    background: url("svg/sprite.css-0429fb15.svg") 100% 0 no-repeat;
}
.svg-Arrow:hover {
    background: url("svg/sprite.css-0429fb14.svg") 0 0 no-repeat;
}
